<app-flip-card [project]="project">
</app-flip-card>

<div class="form">
  <h1>{{project.name}}</h1>

  <div class="edit-property">
    <span class="ui-float-label">
        <input id="float-input1" type="text" size="30" pInputText>
        <label for="float-input1">Culture</label>
    </span>
  </div>

  <div class="edit-property">
    <span class="ui-float-label">
        <input id="float-input2" type="text" size="30" pInputText>
        <label for="float-input2">Pages</label>
    </span>
  </div>

  <!--<div>-->
    <!--<p-calendar [(ngModel)]="startDate"></p-calendar>-->
  <!--</div>-->

  <div class="edit-property">
    <span class="ui-float-label">
        <input id="float-input3" type="text" size="30" pInputText>
        <label for="float-input3">Project Start Date</label>
    </span>
  </div>

  <div class="edit-property">
    <span class="ui-float-label">
        <input id="float-input4" type="text" size="30" pInputText>
        <label for="float-input4">Project End Date</label>
    </span>
  </div>
</div>