app-flip-card ,
.form {
  display: inline-block;
  vertical-align: top;
}

.edit-property {
  padding-top: 20px;
}

.form {
  border: 1px solid black;
  padding: 30px 100px 100px 100px;
  background: #bfd8da;
  border-radius: 25px;
}