.dashboard-container {
  margin-left: 175px;
  margin-right: 175px;
  margin-top: 50px;
  padding-left: 50px;
}

.dashboard-container app-flip-card:first-child {
  margin-right: 100px;
}

.test:hover {
  background: #d7f2f4 !important;
  cursor: pointer;
}